.cardLink{
    display: flex;
}
.card{
    width: 25rem;
    margin-top: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: gray;
}
.title{
    background-color: black;
    border-radius: 10px;
    color: white;
    text-align: center;
}

