.cards{
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: gray;
}
.cardLink{
    display: flex;
}

.Goals{
    font-weight: 30;
    font-size: 15px;
}

.GoalsScored{
    font-weight: 500;
    font-size: 30px;
}

.Team{
    font-weight: 500;
    font-size: 20px;
    align-items: center;
}

.TeamTitle {
    margin: 5px 0px 3px 10px;
    font-size: 17px;
    display:flex;
    align-items: left;
    justify-content: left;
}

.DateDisplay {
    margin: 15px 15px 15px 25px;
    justify-content: left;
    align-items: left;
    display:flex;
    font-size: 17px;
}


.center {
    justify-content: center;
    align-items: center;
    display:flex;
}


.Players-goal {
    margin: 0px 0px 0px 10px;
}
